

$ff-serif: Georgia, serif;
$ff-sans: Tahoma, sans-serif;
$f-size: .7rem;
$left-bg: #c4b35a;
$right-bg: darken($left-bg, 10%);
$main-bg: lighten($left-bg, 30%);
$header-bg: lighten($left-bg, 40%);
$color: #131313;
$accent: #c33a46;
